$primary: #28a745;

* {
    margin: 0;
    padding: 0;
}

#level {
    display: none;
    position: absolute;
    background-color: $primary;
    color: white;
    padding: 5px 10px;
    font-size: 25px;
}

.application {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: auto;
    min-height: 100vh;
    &__number {
        width: 100%;
        font-weight: bold;
        text-align: center;
        font-size: 13vw;
        line-height: 1;
        border: 0;
        border-bottom: 3px solid #000000;
    }
}

#countbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 20px;
    background-color: $primary;
    transition: 400ms width;
}

.counting {
     animation: progressing linear;
}

@keyframes progressing {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.correct-number {
    position: absolute;
    top: 0;
    right: 0;
}

input {-webkit-appearance: none; box-shadow: none !important; }
:-webkit-autofill { color: #fff !important; }