$theme-colors: (
   primary: #27ae60,
   danger: #c0392b
);

@import 'bootstrap/bootstrap';

@mixin transition($property) {
    transition: 400ms $property;
}

* {
    margin: 0;
    padding: 0;
}

#level {
    display: none;
    position: absolute;
    background-color: map-get($theme-colors, primary);
    color: white;
    padding: 5px 10px;
    font-size: 25px;
    top: 0;
    @include transition(top);
    z-index: 101;
}

.application {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: auto;
    min-height: 100vh;
    &__number {
        width: 100%;
        font-weight: bold;
        text-align: center;
        font-size: 13vw;
        line-height: 1;
        border: 0;
        border-bottom: 3px solid #000000;
    }
}

#countbar {
    position: fixed;
    left: 0;
    width: 0%;
    height: 40px;
    background-color: map-get($theme-colors, primary);
    @include transition(all);
    z-index: 100;
}

.counting {
     animation: progressing linear;
}

@keyframes progressing {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

.correct-number {
    position: absolute;
    top: 0;
    right: 7px;
}

// Remove handlebars on number inputs

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    appearance: none;
    -moz-appearance: none;
}

input {-webkit-appearance: none; box-shadow: none !important; }
:-webkit-autofill { color: #fff !important; }